.Home-page-container {
  height: auto;
}

.card-box {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 30px;
    padding: 20px;
  }

.grid-box{
    word-spacing: 2;
    direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3%;
    position: fixed;
    top: 52%;
    overflow: auto;
    height: calc(100% - 400px); /* Set the height of the .grid-box container to the height of the viewport minus the height of the TopBar component */
}

.body {
    background-color: white;
    font-family: Roboto;
  }

.single-card{
  width: 100%;
}
