.card-box {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 30px;
    padding: 20px;
  }

.grid-box{
    word-spacing: 2;
    direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3%;
}
