.Container {
  background-image: url('../images/parliment.png');
  background-repeat: no-repeat;
  background-size: cover;  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  font-size: 18px;
  font-family: Roboto;
  width: 100%;
  min-height: 400px;
  box-shadow: 5px 5px 10px silver;
}

.TitleAndButton{
  width: 200px;
  height: 100px;
}

.Title {
  font-weight: bold;
  padding-bottom: 20px
;}

.CreateButton {
  height: 80%;
}